<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Create A Blog</title>
</head>
<body>
    <% if(locals.blog){ %>
        <h1>Update Blog</h1>
    <% } else if(locals.modifiedBlog){%>
        <h1><%= modifiedBlog.blogTitle %></h1>
    <% } %>
    
    <div class = "blog">
        <% if(locals.blog){ %>            
            <br>
            <form action="/update/<%= blog.id %>" method="post">
                <div class="inputs">
                    <input type="text" name="title" value="<%= blog.blogTitle %>" class="blogtitle">    
                </div>
                <div class="inputs">
                    <textarea name="content" class="blogcontent"><%= blog.blogContent %></textarea>
                </div>
                <div class="inputs">
                    <input type="submit" value="Update" class="submit">
                </div>    
            </form>
        <% } else if(locals.modifiedBlog){%>
            <br>
            <p><%= modifiedBlog.blogContent %></p>
            <form action="/" method="get">
                <input type="submit" value="Home" class="submit">
            </form>
        <% } %>
    </div>


</body>
</html>